@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Noto Sans", sans-serif;
    color: white;
    background-color: black;
}

h1{
    text-align: center;
    width: 70vw;
    margin: 4rem auto 1rem auto;

    font-size: 4rem;
    font-weight: normal;
}

.body-text p{
    text-align: center;
    width: 60vw;
    margin: 0 auto;

    font-size: 0.8rem;
    font-weight: normal;
    color: #cccccc;
}

header{
    display: flex;
    width: 100% - 10rem;
    padding: 1.5rem 5rem;
    align-items: center;
    justify-content: space-between;
}

.main-text{
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.button{
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem 1.2rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 999px;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.2s ease;
    text-decoration: none;
}

.button:hover{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.button:active {
    transform: scale(0.97);
    background-color: #171717;
}

.button-cta{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.6rem 1.2rem;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
    text-decoration: none;
}

.button-cta:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: 0.3s;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.background-gradient{
    position: absolute;
    z-index: -99;

    height: 25rem;
    width: 25rem;
    border-radius: 30rem;
    filter: blur(7rem);
}

.blue{
    background-color: #5d3dc7;
    top: 5rem;
    left: 5rem;
}

.purple{
    background-color: #B00BE2;
    top: 15rem;
    right: 5rem;
}

@media only screen and (max-width: 768px){
    h1{
        font-size: 3rem;
    }

    .main-text{
        font-size: 1rem;
    }

    .body-text p{
        font-size: 0.8rem;
    }

    .button{
        font-size: 0.6rem;
        padding: 0.3rem 1rem;
        border-width: 1px;
    }

    .button-cta{
        font-size: 0.8rem;
    }

    .background-gradient{
        height: 20rem;
        width: 20rem;
    }

    .blue{
        left: 3rem;
    }

    .purple{
        right: 3rem;
    }
}


@media only screen and (max-width: 425px){
    h1{
        font-size: 2rem;
        width: 90vw;
    }

    .main-text{
        font-size: 0.8rem;

    }

    .body-text p{
        font-size: 0.6rem;
        width: 80vw;
    }

    .button{
        font-size: 0.4rem;
        padding: 0.2rem 0.8rem;
        border-width: 1px;
        background-color: #00000000;
    }

    .button-cta{
        font-size: 0.6rem;
        padding: 0.3rem 1rem;
    }

    .background-gradient{
        height: 20rem;
        width: 20rem;
    }

    .blue{
        left: 1rem;
        top: 2rem;
    }

    .purple{
        right: 1rem;
        top: 15rem;
    }

    header{
        width: 90vw;
        padding: 1.2rem 1rem;
    }
}